# Homework - Principal Components Analysis

## Libraries

In [722]:
import pandas as pd
import numpy as np
import scipy
import sklearn
import matplotlib
import yaml

## 0. Preparation (Setting the Random State):

In [723]:
pellegrino = 331438
mungaicoppolino = 246120
rs = min(pellegrino, mungaicoppolino)
np.random.seed(rs)
initial_random_state = np.random.get_state()
np.random.set_state(initial_random_state)

## 1. Loading and Preparing the Data

### 1.1 Storing the csv file in a DataFrame Variable

We store in the variable df_tot the dataframe obtained from the csv file.

In [724]:
df_tot = pd.read_csv("cla4lsp_customers.csv", sep='\t')
df_tot.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

### 1.2 Sub-DFs Creation

Creation of the sub dataframes *workdf*: 2/3 of the rows are taken from the original dataframes df_tot

In [725]:
workdf = df_tot.sample(frac=2/3, random_state=rs)
workdf.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
762,6406,1988,Master,Married,78285.0,0,0,28-10-2013,13,647,...,3,0,0,0,0,0,0,3,11,0
2206,1092,1980,Graduation,Married,61014.0,0,1,11-08-2012,17,269,...,7,0,0,0,0,0,0,3,11,0
419,8581,1971,Master,Married,49505.0,1,1,05-03-2013,4,604,...,8,0,0,0,0,0,0,3,11,0
1370,5948,1975,Graduation,Single,57338.0,0,1,29-04-2014,96,143,...,5,0,0,0,0,0,0,3,11,0
1775,8910,1955,Graduation,Together,42586.0,1,1,29-10-2012,7,194,...,8,0,0,0,0,0,0,3,11,1

### 1.3 Labels and Features

Discarding the ID, Z_CostContact and Z_Revenue columns

In [726]:
labels = ['NumDealsPurchases',
'AcceptedCmp1',
'AcceptedCmp2',
'AcceptedCmp3',
'AcceptedCmp4',
'AcceptedCmp5',
'Response',
'Complain',
'Recency'] #len(labels) == 9

features = [
    'Year_Birth',
    'Education',
    'Marital_Status',
    'Income',
    'Kidhome',
    'Teenhome',
    'Dt_Customer',
    'MntWines', 
    'MntFruits', 
    'MntMeatProducts',
    'MntFishProducts',
    'MntSweetProducts', 
    'MntGoldProds', 
    'NumWebPurchases', 
    'NumCatalogPurchases',
    'NumStorePurchases',
    'NumWebVisitsMonth'
] #len(features) == 17 
workdf = workdf.loc[:, labels + features]
workdf.head()

,NumDealsPurchases,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Response,Complain,Recency,Year_Birth,...,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth
762,1,0,0,0,0,0,0,0,13,1988,...,647,107,391,175,67,40,6,4,10,3
2206,4,0,0,0,0,0,0,0,17,1980,...,269,129,495,182,43,29,9,3,4,7
419,9,0,0,0,0,0,0,0,4,1971,...,604,0,100,19,0,28,10,2,8,8
1370,2,0,0,0,0,0,0,0,96,1975,...,143,6,52,11,8,17,4,1,5,5
1775,5,0,0,0,0,0,1,0,7,1955,...,194,2,56,0,0,0,4,1,6,8

### 1.4 Removing randomly from workdf one feature

In [727]:
purchase_features = ['MntWines', 
                    'MntFruits', 
                    'MntMeatProducts',
                    'MntFishProducts',
                    'MntSweetProducts', 
                    'MntGoldProds', 
                    'NumWebPurchases', 
                    'NumCatalogPurchases',
                    'NumStorePurchases']

removed_feature = np.random.choice(purchase_features)
workdf = workdf.drop(columns=removed_feature)
features.remove(removed_feature)
print(f"Feature removed: {removed_feature}\nFirst elements of the workdf Dataframes:")
display(workdf.head())

Feature removed: NumStorePurchases
First elements of the workdf Dataframes:

,NumDealsPurchases,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Response,Complain,Recency,Year_Birth,...,Dt_Customer,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumWebPurchases,NumCatalogPurchases,NumWebVisitsMonth
762,1,0,0,0,0,0,0,0,13,1988,...,28-10-2013,647,107,391,175,67,40,6,4,3
2206,4,0,0,0,0,0,0,0,17,1980,...,11-08-2012,269,129,495,182,43,29,9,3,7
419,9,0,0,0,0,0,0,0,4,1971,...,05-03-2013,604,0,100,19,0,28,10,2,8
1370,2,0,0,0,0,0,0,0,96,1975,...,29-04-2014,143,6,52,11,8,17,4,1,5
1775,5,0,0,0,0,0,1,0,7,1955,...,29-10-2012,194,2,56,0,0,0,4,1,8

### 1.5 Clean the dataset workdf

NaN value were found in the column *'Income'*. For sake of simplicity, rows with NaN value in that column are suppressed.

In [728]:
tmp_df = workdf.loc[:, features]
df_nan = tmp_df[tmp_df.isna().any(axis=1)]
print("Dataframes where there are NaN values (df_nan):\n")
display(df_nan)
workdf = workdf.dropna()
print("workdf without df_nan:\n")
display(workdf)

Dataframes where there are NaN values (df_nan):

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumWebPurchases,NumCatalogPurchases,NumWebVisitsMonth
58,1982,Graduation,Single,NaN,1,0,17-06-2013,11,3,22,2,2,6,2,0,6
1382,1958,Graduation,Together,NaN,1,1,03-09-2012,19,4,12,2,2,6,1,0,5
71,1973,2n Cycle,Married,NaN,1,0,14-09-2012,25,3,43,17,4,17,3,0,8
90,1957,PhD,Married,NaN,2,1,19-11-2012,230,42,192,49,37,53,7,2,9
133,1963,Graduation,Married,NaN,0,1,11-08-2013,231,65,196,38,71,124,6,5,4
1386,1972,PhD,Together,NaN,1,0,02-03-2014,25,1,13,0,0,3,1,0,7
312,1989,Graduation,Married,NaN,0,0,03-06-2013,861,138,461,60,30,61,6,5,3
2061,1981,PhD,Single,NaN,1,0,31-05-2013,23,0,15,0,2,7,3,0,6
10,1983,Graduation,Married,NaN,1,0,15-11-2013,5,5,6,0,2,1,1,0,7
48,1951,Graduation,Single,NaN,2,1,01-01-2014,48,5,48,6,10,7,2,1,6
2228,1978,2n Cycle,Together,NaN,0,0,12-08-2012,32,2,1607,12,4,22,0,0,0
43,1959,PhD,Single,NaN,0,0,05-11-2013,81,11,50,3,2,39,1,3,2
27,1986,Graduation,Single,NaN,1,0,20-02-2013,5,1,3,3,263,362,27,0,1
2084,1943,Master,Widow,NaN,0,0,30-10-2013,532,126,490,164,126,126,5,5,1
1379,1970,Master,Together,NaN,0,1,01-04-2013,187,5,65,26,20,14,4,2,5
128,1961,PhD,Married,NaN,0,1,11-07-2013,352,0,27,10,0,15,6,1,6

workdf without df_nan:

,NumDealsPurchases,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Response,Complain,Recency,Year_Birth,...,Dt_Customer,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumWebPurchases,NumCatalogPurchases,NumWebVisitsMonth
762,1,0,0,0,0,0,0,0,13,1988,...,28-10-2013,647,107,391,175,67,40,6,4,3
2206,4,0,0,0,0,0,0,0,17,1980,...,11-08-2012,269,129,495,182,43,29,9,3,7
419,9,0,0,0,0,0,0,0,4,1971,...,05-03-2013,604,0,100,19,0,28,10,2,8
1370,2,0,0,0,0,0,0,0,96,1975,...,29-04-2014,143,6,52,11,8,17,4,1,5
1775,5,0,0,0,0,0,1,0,7,1955,...,29-10-2012,194,2,56,0,0,0,4,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,1,0,0,1,0,0,0,0,90,1955,...,27-04-2013,18,2,10,0,0,25,1,1,7
358,1,0,0,0,0,0,0,1,65,1943,...,20-08-2013,629,17,177,69,0,8,5,3,2
1118,1,0,0,0,0,0,0,0,47,1966,...,16-01-2013,2,23,11,8,6,46,2,1,8
1520,1,0,0,0,0,0,1,0,73,1983,...,03-06-2013,910,111,724,49,74,55,10,2,3
1477,1,0,0,0,0,0,0,0,26,1970,...,02-11-2013,73,0,13,0,1,0,2,1,3

## 2. Exercise 2 (Encoding of Categorical Data)

In [729]:
workdf.iloc[1,:]

NumDealsPurchases               4
AcceptedCmp1                    0
AcceptedCmp2                    0
AcceptedCmp3                    0
AcceptedCmp4                    0
AcceptedCmp5                    0
Response                        0
Complain                        0
Recency                        17
Year_Birth                   1980
Education              Graduation
Marital_Status            Married
Income                    61014.0
Kidhome                         0
Teenhome                        1
Dt_Customer            11-08-2012
MntWines                      269
MntFruits                     129
MntMeatProducts               495
MntFishProducts               182
MntSweetProducts               43
MntGoldProds                   29
NumWebPurchases                 9
NumCatalogPurchases             3
NumWebVisitsMonth               7
Name: 2206, dtype: object

In [730]:
workdf['Education'].unique()

array(['Master', 'Graduation', '2n Cycle', 'PhD', 'Basic'], dtype=object)

In [731]:
workdf['Marital_Status'].unique()

array(['Married', 'Single', 'Together', 'Divorced', 'Alone', 'Widow',
       'Absurd', 'YOLO'], dtype=object)

In [732]:
workdf['Dt_Customer'].unique()

array(['28-10-2013', '11-08-2012', '05-03-2013', '29-04-2014',
       '29-10-2012', '19-06-2014', '05-08-2012', '23-01-2014',
       '11-08-2013', '04-02-2014', '01-08-2013', '15-11-2013',
       '23-03-2014', '10-01-2013', '07-11-2012', '16-02-2014',
       '12-01-2013', '07-05-2014', '02-02-2014', '07-09-2012',
       '08-10-2013', '03-11-2012', '15-05-2013', '16-07-2013',
       '17-01-2013', '08-06-2013', '20-06-2014', '19-09-2013',
       '15-09-2013', '29-03-2013', '12-12-2012', '31-03-2013',
       '28-05-2013', '01-05-2013', '08-04-2014', '30-06-2013',
       '16-04-2014', '28-11-2012', '23-11-2012', '18-09-2012',
       '29-03-2014', '10-03-2013', '24-06-2013', '29-05-2014',
       '06-07-2013', '23-11-2013', '05-10-2012', '28-09-2012',
       '04-10-2013', '02-01-2013', '14-09-2013', '22-11-2013',
       '25-10-2013', '07-04-2014', '13-04-2014', '31-08-2013',
       '01-04-2014', '25-04-2014', '17-04-2013', '16-08-2012',
       '15-01-2014', '01-10-2012', '20-11-2012', '07-11-2013',
       '11-05-2013', '07-01-2014', '22-05-2014', '17-08-2012',
       '04-05-2013', '21-04-2014', '12-09-2013', '12-07-2013',
       '29-12-2013', '13-06-2013', '28-05-2014', '10-06-2013',
       '31-08-2012', '15-01-2013', '02-03-2013', '15-04-2013',
       '16-10-2012', '12-08-2013', '11-02-2013', '20-08-2012',
       '10-04-2013', '17-02-2014', '31-05-2013', '13-02-2014',
       '28-04-2014', '17-10-2013', '29-10-2013', '08-09-2012',
       '28-01-2014', '06-12-2012', '21-03-2013', '27-10-2013',
       '11-04-2014', '29-04-2013', '01-03-2014', '06-11-2013',
       '02-10-2013', '01-07-2013', '16-06-2014', '12-03-2013',
       '02-06-2014', '09-08-2013', '30-07-2013', '13-10-2013',
       '18-10-2012', '08-03-2013', '23-07-2013', '12-02-2013',
       '22-12-2012', '23-03-2013', '23-05-2014', '18-01-2014',
       '30-03-2013', '01-08-2012', '21-10-2013', '27-06-2013',
       '07-12-2013', '10-03-2014', '19-02-2013', '03-06-2013',
       '02-12-2012', '25-04-2013', '05-09-2013', '22-04-2014',
       '03-05-2013', '20-02-2013', '07-02-2014', '11-01-2014',
       '11-10-2013', '04-03-2013', '20-09-2013', '09-07-2013',
       '26-05-2014', '03-03-2014', '20-12-2012', '08-01-2013',
       '23-12-2012', '17-08-2013', '20-04-2014', '13-05-2014',
       '27-02-2014', '17-01-2014', '03-03-2013', '27-09-2012',
       '05-07-2013', '10-12-2013', '03-04-2013', '17-03-2014',
       '06-04-2014', '16-06-2013', '14-06-2013', '12-09-2012',
       '09-01-2014', '19-11-2013', '05-01-2013', '08-12-2013',
       '22-08-2012', '15-04-2014', '11-09-2013', '19-07-2013',
       '09-06-2013', '08-08-2012', '05-06-2014', '12-02-2014',
       '09-04-2014', '30-09-2012', '23-12-2013', '20-06-2013',
       '09-09-2013', '04-01-2014', '13-01-2013', '26-04-2014',
       '27-03-2013', '10-02-2013', '17-11-2012', '25-09-2013',
       '05-02-2014', '10-02-2014', '14-09-2012', '04-03-2014',
       '14-08-2012', '21-04-2013', '14-04-2014', '23-04-2014',
       '11-11-2012', '11-04-2013', '06-05-2014', '11-06-2014',
       '26-10-2013', '15-02-2014', '19-08-2013', '02-09-2012',
       '10-05-2013', '12-10-2012', '11-02-2014', '29-11-2012',
       '26-11-2013', '14-02-2013', '04-06-2013', '12-11-2012',
       '27-08-2012', '03-06-2014', '05-05-2014', '12-10-2013',
       '21-01-2014', '11-05-2014', '17-04-2014', '22-10-2012',
       '23-09-2012', '13-07-2013', '17-09-2012', '20-03-2014',
       '24-03-2013', '12-06-2013', '24-12-2013', '19-03-2014',
       '25-05-2014', '28-03-2013', '02-03-2014', '16-05-2013',
       '22-01-2014', '03-08-2012', '30-08-2012', '20-10-2013',
       '18-03-2014', '06-09-2013', '13-11-2013', '20-05-2013',
       '16-02-2013', '28-12-2012', '19-06-2013', '21-10-2012',
       '26-01-2013', '08-08-2013', '24-09-2012', '28-08-2012',
       '25-02-2014', '31-01-2013', '29-05-2013', '21-09-2012',
       '19-05-2014', '23-02-2014', '31-05-2014', '25-07-2013',
       '18-07-2013', '22-10-2013', '06-02-2014', '24-12-2012',
       '07-08-2013', '27-06-2014', '24-04-2014', '30-09-2013',
       '26-08-2013', '30-08-2013', '05-11-2013', '10-01-2014',
       '18-04-2014', '10-09-2012', '13-04-2013', '23-06-2013',
       '18-09-2013', '09-02-2013', '12-05-2013', '29-08-2013',
       '25-08-2012', '07-01-2013', '17-07-2013', '09-09-2012',
       '06-09-2012', '28-08-2013', '06-03-2013', '07-03-2013',
       '26-11-2012', '06-12-2013', '13-11-2012', '22-12-2013',
       '02-12-2013', '05-09-2012', '16-10-2013', '16-08-2013',
       '09-01-2013', '10-06-2014', '12-03-2014', '29-01-2013',
       '05-04-2013', '10-11-2013', '08-06-2014', '08-07-2013',
       '16-03-2013', '28-11-2013', '17-03-2013', '04-09-2013',
       '19-12-2013', '24-01-2014', '24-05-2013', '12-05-2014',
       '26-12-2013', '15-06-2014', '23-08-2012', '12-08-2012',
       '07-06-2014', '22-09-2013', '03-04-2014', '05-08-2013',
       '22-09-2012', '21-12-2013', '09-10-2012', '10-08-2012',
       '06-01-2013', '17-05-2014', '28-02-2013', '17-10-2012',
       '25-03-2014', '21-08-2013', '13-02-2013', '09-03-2013',
       '02-10-2012', '27-04-2013', '29-06-2013', '17-05-2013',
       '08-05-2014', '14-01-2013', '31-12-2012', '23-04-2013',
       '29-06-2014', '20-01-2013', '01-12-2013', '13-10-2012',
       '24-03-2014', '10-11-2012', '24-11-2012', '01-02-2014',
       '14-11-2012', '28-02-2014', '01-11-2012', '19-01-2013',
       '04-08-2012', '10-08-2013', '25-06-2014', '10-10-2013',
       '26-02-2013', '02-02-2013', '01-02-2013', '01-01-2013',
       '18-06-2014', '29-12-2012', '20-09-2012', '25-08-2013',
       '18-02-2013', '02-09-2013', '17-12-2012', '14-10-2012',
       '11-03-2013', '11-12-2013', '26-09-2013', '25-11-2013',
       '31-03-2014', '14-04-2013', '24-05-2014', '08-03-2014',
       '11-01-2013', '21-08-2012', '06-06-2013', '04-11-2013',
       '16-12-2013', '06-05-2013', '27-09-2013', '01-05-2014',
       '06-03-2014', '18-05-2014', '07-09-2013', '31-10-2012',
       '17-09-2013', '19-10-2013', '26-06-2013', '11-07-2013',
       '22-02-2013', '07-12-2012', '25-12-2012', '10-05-2014',
       '01-10-2013', '09-02-2014', '23-06-2014', '06-08-2013',
       '30-12-2013', '13-05-2013', '29-07-2013', '17-02-2013',
       '02-11-2012', '02-05-2014', '27-02-2013', '19-11-2012',
       '04-05-2014', '13-08-2013', '22-03-2013', '19-04-2014',
       '02-05-2013', '18-08-2012', '24-02-2014', '08-05-2013',
       '04-01-2013', '30-03-2014', '09-05-2013', '05-01-2014',
       '01-09-2013', '27-12-2013', '03-09-2012', '23-08-2013',
       '30-10-2012', '19-01-2014', '22-08-2013', '15-12-2013',
       '30-01-2014', '04-12-2013', '26-09-2012', '03-08-2013',
       '14-10-2013', '27-01-2014', '18-03-2013', '29-08-2012',
       '20-04-2013', '26-12-2012', '07-07-2013', '05-10-2013',
       '05-04-2014', '20-08-2013', '09-03-2014', '21-01-2013',
       '03-07-2013', '27-10-2012', '26-01-2014', '25-05-2013',
       '27-07-2013', '15-02-2013', '04-10-2012', '28-06-2014',
       '28-10-2012', '26-08-2012', '14-01-2014', '09-11-2012',
       '03-12-2012', '11-12-2012', '28-09-2013', '14-11-2013',
       '09-08-2012', '28-04-2013', '22-05-2013', '01-12-2012',
       '26-03-2014', '08-02-2013', '15-10-2013', '13-12-2013',
       '26-03-2013', '05-05-2013', '12-04-2014', '25-01-2014',
       '03-12-2013', '01-04-2013', '02-08-2013', '14-07-2013',
       '13-09-2013', '22-06-2014', '30-10-2013', '06-11-2012',
       '15-03-2013', '18-04-2013', '22-02-2014', '27-03-2014',
       '16-11-2012', '04-09-2012', '23-10-2012', '19-12-2012',
       '18-05-2013', '16-04-2013', '30-12-2012', '16-01-2013',
       '22-04-2013', '07-08-2012', '16-05-2014', '25-09-2012',
       '24-09-2013', '29-11-2013', '23-01-2013', '31-07-2012',
       '24-07-2013', '27-12-2012', '11-06-2013', '18-11-2012',
       '20-03-2013', '07-05-2013', '28-06-2013', '21-11-2013',
       '04-07-2013', '26-10-2012', '20-10-2012', '21-03-2014',
       '06-08-2012', '09-12-2013', '25-11-2012', '17-06-2013',
       '24-04-2013', '13-03-2014', '03-11-2013', '30-04-2014',
       '06-10-2012', '03-10-2013', '22-01-2013', '01-09-2012',
       '17-11-2013', '24-10-2012', '31-07-2013', '21-07-2013',
       '14-08-2013', '09-11-2013', '10-09-2013', '02-07-2013',
       '15-08-2013', '02-04-2013', '03-01-2014', '19-05-2013',
       '05-03-2014', '17-06-2014', '18-02-2014', '03-05-2014',
       '25-01-2013', '02-08-2012', '25-06-2013', '22-11-2012',
       '22-06-2013', '26-05-2013', '12-01-2014', '27-04-2014',
       '16-12-2012', '25-12-2013', '12-12-2013', '08-11-2012',
       '04-11-2012', '18-06-2013', '22-07-2013', '06-02-2013',
       '15-10-2012', '07-03-2014', '15-05-2014', '31-01-2014',
       '05-12-2012', '17-12-2013', '18-10-2013', '05-11-2012',
       '21-12-2012', '01-06-2013', '14-03-2013', '12-06-2014',
       '02-11-2013', '03-02-2013', '23-05-2013', '09-12-2012',
       '19-09-2012', '23-10-2013', '14-12-2012', '10-12-2012',
       '08-12-2012', '10-10-2012', '09-06-2014', '08-04-2013',
       '20-12-2013', '21-05-2013', '30-05-2013', '06-10-2013',
       '14-12-2013', '25-02-2013', '02-01-2014', '15-08-2012',
       '07-10-2012', '30-11-2012', '19-03-2013', '16-03-2014',
       '01-01-2014', '15-09-2012', '14-02-2014', '26-07-2013',
       '21-06-2013', '24-10-2013', '21-02-2013', '24-08-2012',
       '28-12-2013', '06-01-2014', '28-07-2013', '01-03-2013',
       '10-04-2014', '11-03-2014', '26-06-2014', '29-09-2012',
       '18-11-2013', '16-09-2013', '11-10-2012', '21-11-2012',
       '09-10-2013'], dtype=object)